body {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    /*background-size: cover;
    background-attachment: scroll;*/
    
    font-family: Courier New;
    color: white;
    margin-left: 20px;
}

#footer {
    background-color: lightgrey;
    text-align: right;
    color: black;
    border-right: 12px solid #99ccff;
}
