body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

    font-family: Courier;
    color: white;

    position: fixed;
    left: 5vw;
    right: 5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.25vh;
    overflow: hidden;
    background-color: #003380;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    padding: 0.25vh 0.5vw;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 1.5vh;
}

li a:hover {
    background-color: grey;
}

#content {
    max-width: 80vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    font-size: 1.5vmin;
}

#disclaimer {
    max-width: 80vw;
    margin-left: 5vmin;
    margin-right: 5vmin;
    font-size: 1vmin;
}

#footer {
    position: fixed;
    left: 5vw;
    right: 5vw;
    bottom: 0;
    
    background-color: lightgrey;
    text-align: right;
    padding: 0.25vh;
    padding-right: 1vw;
    color: black;
    font-size: 1.5vh;
}
