body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

    font-family: Courier;
    color: white;

    position: fixed;
    left: 5vmax;
    right: 5vmax;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.25vmax;
    overflow: hidden;
    background-color: #003380;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    padding: 0.25vmax 0.5vmax;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 1 vmax;
}

li a:hover {
    background-color: grey;
}

#shell {
    margin-left: 2.5vmax;
    margin-right: 2.5vmax;
    font-size: 0.75vmax;
}

#content {
    margin-left: 2.5vmax;
    margin-right: 2.5vmax;
    font-size: 0.75vmax;
}

#disclaimer {
    margin-left: 5vmax;
    font-size: 0.5vmax;
}

#footer {
    position: fixed;
    left: 5vmax;
    right: 5vmax;
    bottom: 0;
    
    background-color: lightgrey;
    text-align: right;
    padding-right: 1vmax;
    color: black;
}
